<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
     <Bundle Name="!(loc.BundleName)" Version="1.0.0.0" Manufacturer="!(loc.Manufacturer)" UpgradeCode="c4858e43-3e12-4e25-9ec9-d7b393705a16">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <!-- Checks if dotnet-runtime x64 is installed -->
    <util:RegistrySearch Root="HKLM" 
                         Key="SOFTWARE\Microsoft\ASP.NET Core\Runtime Package Store\v2.0" 
                         Result="exists"
                         Variable="NetCore2_x64_Installed"
                         Win64="yes"
                         />

    <!-- Checks if dotnet-runtime x86 is installed -->
    <util:RegistrySearch Root="HKLM" 
                         Key="SOFTWARE\Microsoft\ASP.NET Core\Runtime Package Store\v2.0" 
                         Result="exists"
                         Variable="NetCore2_x86_Installed" 
                         />
       
		<Chain>
      <!-- Installs dotnet-runtime if needed -->
      <PackageGroupRef Id='NetCore2_X64' />
      <PackageGroupRef Id='NetCore2_X86' />
      
      <!-- A "Rollback Boundary" element creates a checkpoint past which the install 
           won’t roll back in case the action failed or it was aborted. -->
      <RollbackBoundary />
      <MsiPackage Id="SetupProject1"
                  DisplayName="!(loc.SetupProject1)"
                  SourceFile="$(var.SetupProject1.TargetPath)" 
                  Visible="yes">
      </MsiPackage>
      <MsiPackage Id="SetupProject2"
                  DisplayName="!(loc.SetupProject2)"
                  SourceFile="$(var.SetupProject2.TargetPath)" 
                  Visible="yes">
      </MsiPackage>
      <MsiPackage SourceFile="$(var.SolutionDir)Publish\MySQL\mysql-installer-community-5.7.22.1.msi" 
                  Id="MySQL"
                  DisplayName="!(loc.MySQLName)"
                  Cache="no" 
                  DisplayInternalUI="no" 
                  Visible="yes" 
                  Permanent="no" 
                  ForcePerMachine="yes" />
		</Chain>
	</Bundle>

  <Fragment>
    <!-- .Net core -->
    <PackageGroup Id="NetCore2_X64">
      <!-- Installs dotnet-runtime x64 if we are running on x64 OS and it is not already installed -->
      <ExePackage Id="NetCore2_X64" 
                  Cache="yes" 
                  Compressed="yes" 
                  PerMachine="yes" 
                  Permanent="yes" 
                  Vital="yes"
                  InstallCondition="VersionNT64"
                  InstallCommand="/s"
                  UninstallCommand="/s /uninstall"
                  SourceFile="$(var.SolutionDir)Publish\DotNet\dotnet-runtime-2.1.0-preview1-26216-03-win-x64.exe"
                  DetectCondition="NetCore2_x64_Installed"  />
    </PackageGroup>

    <PackageGroup Id="NetCore2_X86">
      <!-- Installs dotnet-runtime x86 if we are running on x86 OS and it is not already installed -->
      <ExePackage Id="NetCore2_X86" 
                  Cache="yes" 
                  Compressed="yes" 
                  PerMachine="yes" 
                  Permanent="yes" 
                  Vital="yes"
                  InstallCondition="NOT VersionNT64"
                  InstallCommand="/s"
                  UninstallCommand="/s /uninstall"
                  SourceFile="$(var.SolutionDir)Publish\DotNet\dotnet-runtime-2.1.0-preview1-26216-03-win-x86.exe"
                  DetectCondition="NetCore2_x86_Installed" />
    </PackageGroup>
  </Fragment>
</Wix>
